PORT=30090
DB_HOST=localhost
DB_PORT=3306
DB_USER=simi_simi
DB_PASS=Kombosawb@26
DB_NAME=simi_customer_survey
JWT_SECRET=your-secret-key-here
EMAIL_USER=kombosawb@gmail.com
EMAIL_PASS=your-email-password-here
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
CORS_ORIGIN=https://anket.kombosotomotiv.com
